<?php

return [
    Symfony\Bundle\FrameworkBundle\FrameworkBundle::class => ['all' => true],
    Doctrine\Bundle\DoctrineBundle\DoctrineBundle::class => ['all' => true],
    Doctrine\Bundle\MigrationsBundle\DoctrineMigrationsBundle::class => ['all' => true],
{% if use_auth -%}
    Symfony\Bundle\SecurityBundle\SecurityBundle::class => ['all' => true],
{% endif -%}
{% if api_style == "api-platform" -%}
    ApiPlatform\Symfony\Bundle\ApiPlatformBundle::class => ['all' => true],
{% endif -%}
];
