django>=5.1.7,<5.2.0
djangorestframework>=3.15.2,<4.0.0
{% if database == "postgresql" -%}
psycopg[binary]>=3.2.6,<4.0.0
{% elif database == "mysql" -%}
mysqlclient>=2.2.7,<3.0.0
{% endif -%}
{% if auth_strategy == "jwt" -%}
djangorestframework-simplejwt>=5.5.0,<6.0.0
{% elif auth_strategy == "token" -%}
django-rest-knox>=5.0.2,<6.0.0
{% elif auth_strategy == "oauth2" -%}
django-oauth-toolkit>=3.0.1,<4.0.0
{% endif -%}
{% if use_drf_spectacular -%}
drf-spectacular>=0.28.0,<0.29.0
{% endif -%}
{% if use_celery -%}
celery>=5.4.0,<6.0.0
{% endif -%}
{% if use_channels -%}
channels>=4.2.0,<5.0.0
{% endif %}
