{% if stack == "nextjs-fullstack" %}
{% include "ci/nextjs-fullstack.yml.j2" %}
{% elif stack == "symfony-api-react" %}
{% include "ci/symfony-api-react.yml.j2" %}
{% elif stack == "django-htmx" %}
{% include "ci/django-htmx.yml.j2" %}
{% elif stack == "rails-hotwire" %}
{% include "ci/rails-hotwire.yml.j2" %}
{% endif %}
