name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - master
      - 'release/*'
      - 'feature/*'
      - 'hotfix/*'
  pull_request:
    branches:
      - develop
      - master
  create:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  IMAGE_NAME: {{ '${{ github.repository }}' }}
  CI_IMAGE_NAME: {{ '${{ github.repository }}' }}-ci

jobs:
  secret-scan:
    name: Scan for Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Run Secret Scan
        uses: {{ project_name }}/.github/actions/secret-scan

  build-ci-image:
    name: Build CI Image
    runs-on: ubuntu-latest
    needs: secret-scan
    steps:
      - name: Build CI image
        uses: {{ project_name }}/.github/actions/build-ci-image
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          dockerfile: build/app/Dockerfile
          context: .

  lint:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Run Static Code Analysis
        uses: {{ project_name }}/.github/actions/make-command
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          make-command: lint

  test-unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Run unit tests
        uses: {{ project_name }}/.github/actions/make-command
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          make-command: test-unit

  test-integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Run integration tests
        uses: {{ project_name }}/.github/actions/make-command
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          make-command: test-integration

  license-check:
    name: License Check
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Run License Check
        continue-on-error: true
        uses: {{ project_name }}/.github/actions/license-check
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}

  cve-check:
    name: CVE Check
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Run CVE scan
        uses: {{ project_name }}/.github/actions/cve-check
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}

  build-prod-image:
    name: Build Prod Image
    runs-on: ubuntu-latest
    needs: [lint, test-unit, test-integration, license-check, cve-check]
    if: github.ref_name == 'develop' || github.ref_name == 'release/*' || github.ref == 'refs/tags/*'
    steps:
      - name: Build Prod image
        uses: {{ project_name }}/.github/actions/build-prod-image
        with:
          image-name: {{ '${{ env.IMAGE_NAME }}' }}
          dockerfile: build/app/Dockerfile
          context: .

  prod-cve-check:
    name: CVE Check
    runs-on: ubuntu-latest
    needs: build-prod-image
    steps:
      - name: Run CVE scan
        uses: {{ project_name }}/.github/actions/cve-check
        with:
          image-name: {{ '${{ env.IMAGE_NAME }}' }}

  sign-image:
    name: Sign Image
    runs-on: ubuntu-latest
    needs: prod-cve-check
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: {{ '${{ github.actor }}' }}
          password: {{ '${{ secrets.GITHUB_TOKEN }}' }}

      - name: Set up cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Sign Docker image
        uses: publicplan-internal/.github/actions/sign-container@feature/add-cosign-action
        with:
          image_digest_ref: "ghcr.io/{{ '${{ github.repository_owner }}' }}/{{ '${{ env.IMAGE_NAME }}' }}:{{ '${{ github.sha }}' }}"
          cosign_private_key: {{ '${{ secrets.COSIGN_PRIVATE_KEY }}' }}
          cosign_password: {{ '${{ secrets.COSIGN_PASSWORD }}' }}

  tag-image:
    name: Tag Image
    runs-on: ubuntu-latest
    needs: sign-image
    if: github.ref == 'refs/tags/*'
    steps:
      - name: Tag image
        uses: {{ project_name }}/.github/actions/tag-image
        with:
          image-name: {{ '${{ env.IMAGE_NAME }}' }}

  deploy-test:
    name: Deploy to Test
    needs: sign-image
    if: github.ref_name == 'develop'
    uses: publicplan-internal/.github/.github/workflows/ci-cd.yaml@main
    with:
      repository: {{ '${{ github.repository }}' }}
      ref_name: {{ '${{ github.sha }}' }}
      #      target_overlay: test
    secrets: inherit
    permissions:
      contents: read
      packages: read

  deploy-stage:
    name: Deploy to Stage
    needs: [sign-image]
    if: github.ref_name == 'release/*'
    uses: publicplan-internal/.github/.github/workflows/ci-cd.yaml@main
    with:
      repository: {{ '${{ github.repository }}' }}
      ref_name: {{ '${{ github.sha }}' }}
      #      target_overlay: stage
    secrets: inherit
    permissions:
      contents: read
      packages: read

  deploy-prod:
    name: Deploy to Production
    needs: [tag-image]
    if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/tags/*'
    uses: publicplan-internal/.github/.github/workflows/ci-cd.yaml@main
    with:
      repository: {{ '${{ github.repository }}' }}
      ref_name: {{ '${{ github.ref_name }}' }}
      #      target_overlay: prod
    secrets: inherit
    permissions:
      contents: read
      packages: read

  cleanup-ci-cache:
    name: Cleanup CI-Cache
    runs-on: ubuntu-latest
    needs: [ lint, test-unit, test-integration, license-check, cve-check ]
    if: always()
    steps:
      - name: Remove artefacts from cache
        uses: {{ project_name }}/.github/actions/cleanup-cache
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
