name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - master
      - 'release/*'
      - 'feature/*'
      - 'hotfix/*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - develop
      - master
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

env:
  IMAGE_NAME: {{ '${{ github.event.repository.name }}' }}
  REGISTRY_IMAGE: ghcr.io/{{ '${{ github.repository_owner }}' }}/{{ '${{ github.event.repository.name }}' }}
  CI_IMAGE_NAME: {{ '${{ github.event.repository.name }}' }}-ci
  CI_ARTIFACT_NAME: ci-image
  PROD_ARTIFACT_NAME: prod-image

jobs:
  secret-scan:
    name: Scan for Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Secret Scan
        uses: ./.github/actions/secret-scan

  build-ci-image:
    name: Build CI Image
    runs-on: ubuntu-latest
    needs: secret-scan
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build CI image
        uses: ./.github/actions/build-ci-image
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          artifact-name: {{ '${{ env.CI_ARTIFACT_NAME }}' }}
          dockerfile: build/app/Dockerfile
          context: .

  lint:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Static Code Analysis
        uses: ./.github/actions/make-command
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          artifact-name: {{ '${{ env.CI_ARTIFACT_NAME }}' }}
          make-command: lint

  test-unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run unit tests
        uses: ./.github/actions/make-command
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          artifact-name: {{ '${{ env.CI_ARTIFACT_NAME }}' }}
          make-command: test-unit

  test-integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run integration tests
        uses: ./.github/actions/make-command
        with:
          image-name: {{ '${{ env.CI_IMAGE_NAME }}' }}
          artifact-name: {{ '${{ env.CI_ARTIFACT_NAME }}' }}
          make-command: test-integration

  license-check:
    name: License Check
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run License Check
        continue-on-error: true
        uses: ./.github/actions/license-check
        with:
          artifact-name: {{ '${{ env.CI_ARTIFACT_NAME }}' }}

  cve-check:
    name: CVE Check
    runs-on: ubuntu-latest
    needs: build-ci-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run CVE scan
        uses: ./.github/actions/cve-check
        with:
          artifact-name: {{ '${{ env.CI_ARTIFACT_NAME }}' }}

  build-prod-image:
    name: Build Prod Image
    runs-on: ubuntu-latest
    needs: [lint, test-unit, test-integration, license-check, cve-check]
    if: github.ref_name == 'develop' || startsWith(github.ref_name, 'release/') || startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Prod image
        uses: ./.github/actions/build-prod-image
        with:
          image-name: {{ '${{ env.REGISTRY_IMAGE }}' }}
          artifact-name: {{ '${{ env.PROD_ARTIFACT_NAME }}' }}
          dockerfile: build/app/Dockerfile
          context: .

  prod-cve-check:
    name: CVE Check
    runs-on: ubuntu-latest
    needs: build-prod-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run CVE scan
        uses: ./.github/actions/cve-check
        with:
          artifact-name: {{ '${{ env.PROD_ARTIFACT_NAME }}' }}

  sign-image:
    name: Sign Image
    runs-on: ubuntu-latest
    needs: prod-cve-check
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: {{ '${{ github.actor }}' }}
          password: {{ '${{ secrets.GITHUB_TOKEN }}' }}

      - name: Set up cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Sign Docker image
        uses: publicplan-internal/.github/actions/sign-container@feature/add-cosign-action
        with:
          image_digest_ref: "{{ '${{ env.REGISTRY_IMAGE }}' }}:{{ '${{ github.sha }}' }}"
          cosign_private_key: {{ '${{ secrets.COSIGN_PRIVATE_KEY }}' }}
          cosign_password: {{ '${{ secrets.COSIGN_PASSWORD }}' }}

  tag-image:
    name: Tag Image
    runs-on: ubuntu-latest
    needs: sign-image
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: {{ '${{ github.actor }}' }}
          password: {{ '${{ secrets.GITHUB_TOKEN }}' }}

      - name: Tag image
        uses: ./.github/actions/tag-image
        with:
          image-name: {{ '${{ env.REGISTRY_IMAGE }}' }}

  deploy-test:
    name: Deploy to Test
    needs: sign-image
    if: github.ref_name == 'develop'
    uses: publicplan-internal/.github/.github/workflows/ci-cd.yaml@main
    with:
      repository: {{ '${{ github.repository }}' }}
      ref_name: {{ '${{ github.sha }}' }}
      #      target_overlay: test
    secrets: inherit
    permissions:
      contents: read
      packages: read

  deploy-stage:
    name: Deploy to Stage
    needs: [sign-image]
    if: startsWith(github.ref_name, 'release/')
    uses: publicplan-internal/.github/.github/workflows/ci-cd.yaml@main
    with:
      repository: {{ '${{ github.repository }}' }}
      ref_name: {{ '${{ github.sha }}' }}
      #      target_overlay: stage
    secrets: inherit
    permissions:
      contents: read
      packages: read

  deploy-prod:
    name: Deploy to Production
    needs: [tag-image]
    if: github.event_name == 'workflow_dispatch' && startsWith(github.ref, 'refs/tags/')
    uses: publicplan-internal/.github/.github/workflows/ci-cd.yaml@main
    with:
      repository: {{ '${{ github.repository }}' }}
      ref_name: {{ '${{ github.ref_name }}' }}
      #      target_overlay: prod
    secrets: inherit
    permissions:
      contents: read
      packages: read

  cleanup-ci-cache:
    name: Cleanup CI-Cache
    runs-on: ubuntu-latest
    needs: [ lint, test-unit, test-integration, license-check, cve-check ]
    if: always()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Remove artefacts from cache
        uses: ./.github/actions/cleanup-cache
        with:
          artifact-name: {{ '${{ env.CI_ARTIFACT_NAME }}' }}
